* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(255, 255, 255, 0.05);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/moon-stars.svg);
}

.light {
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(./assets/sun.svg);
}

body {
  /*
  background-image: url(./assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  */

  /*background: color image repeat size-cover */
  background: var(--bg-url) no-repeat top center/cover;
  height: 100vh;
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

#container {
  width: 100%;
  max-width: 36.75rem;
  margin: 3.5rem auto 0px;
  padding: 0 1.5rem;
}

/* profile */

#profile {
  text-align: center;
  padding: 1.5rem;
}

#profile img {
  width: 7rem;
}

#profile p {
  font-weight: 500;
  line-height: 1.5rem;
  margin-top: 0.5rem;
}

/* switch */

#switch {
  position: relative;
  width: 4rem;

  margin: 4px auto;

}

#switch button {
  width: 2rem;
  height: 2rem;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);

  animation: slide-out 0.2s ;
}
.light #switch button {
  animation: slide-in 0.2s forwards;
}

#switch button:hover {
  outline: 0.5rem solid var(--highlight-color);
  transition: outline 0.2s;
}

#switch span {
  display: block;
  width: 4rem;
  height: 1.5rem;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

/* Links */

ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 1.5rem 0;
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1rem 1.5rem;

  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 0.5rem;

  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 500;

  transition: background 0.2s;
}

/* pseudo-selector */

ul li a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

/* social-links */

#social-links {
  display: flex;
  justify-content: center;

  padding: 1.5rem 0;

  font-size: 1.5rem;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  transition: background 0.2s;
  border-radius: 50%;
}

#social-links a:hover {
  background: var(--highlight-color);
}

footer {
  padding: 1.5rem 0;
  text-align: center;
  font-size: 14px;
}

footer a {
  text-decoration: none;
}

/* medie queries */

@media (min-width: 700px) {
  :root {
    --bg-url: url(./assets/bg-desktop.jpg);
  }

  .light {
    --bg-url: url(./assets/bg-desktop-light.jpg);
  }
}

/* animation */
@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-out {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}